* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
// Largeur des gouttières
$grid-gutter-width: 20px;
// Taille maximum du container, selon les breakpoints
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1180px,
  xxl: 1320px,
);

@import "bootstrap/scss/bootstrap-grid";

body {
  font-family: "kohinoor-gujarati", sans-serif;
}

.banner {
  background-color: red;
}
.footer {
  background-color: red;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.navigation {
  display: flex;
  padding: 12px 0px;
  align-items: center;
  gap: 40px;
}

.logo {
  scale: 80%;
}

.icones {
  display: flex;
  gap: 40px;
}

.icones img {
  width: 37px;
}
